.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding: 0;
    /*background: #eee;*/
    background: white;
}


/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}


/* Custom page header */

.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
}


/* Make the masthead heading the same height as the navigation */

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}


/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow>hr {
    margin: 30px 0;
}


/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}


/* Supporting marketing content */

.marketing {
    margin: 40px 0;
}

.marketing p+h4 {
    margin-top: 28px;
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.servi {
    /*height: 100vh !important;*/
    height: 40vh !important;
    width: calc(100%/3);
    border: 1px;
    float: left;
}

.luz {
    background: magenta;
}

.agua {
    background: cyan;
}

.gas {
    background: blue;
}

.logo {
    margin-top: 40px;
}

.shadow {
    /*background-color: rgba(0, 0, 0, 0.4);*/
    background-color: rgba(255, 255, 255, 0.8);
    height: 161px;
    width: 100%;
    display: flex;
}

.shadow-gas {
    /*background-color: rgba(0, 0, 0, 0.4);*/
    /*background-color: rgba(100, 143, 211, 0.8);*/
    /*background-color: rgba(66, 139, 202, 0.8);*/
    height: 161px;
    width: 100%;
    margin-left: 5px;
    display: flex;
}

.shadow-agua {
    /*background-color: rgba(0, 0, 0, 0.4);*/
    /*background-color: rgba(91, 192, 222, 0.8);*/
    height: 161px;
    width: 100%;
    margin: 5px;
    display: flex;
}

.shadow-luz {
    /*background-color: rgba(0, 0, 0, 0.4);*/
    /*background-color: rgba(246, 242, 44, 0.918);*/
    /*background-color: rgba(244, 235, 73, 0.918);*/
    height: 161px;
    width: 100%;
    margin-right: 5px;
    display: flex;
}

.logo-registro{
    width:185px;
    height:145px;
}

.banner {
    /*background-color: rgba(0, 0, 0, 0.4);*/
    /*background-color: rgba(246, 242, 44, 0.918);*/
    background-color: rgba(255, 135, 0, 0.918);
    height: 161px;
    width: 100%;
    margin-right: 5px;
    display: flex;
}

.top-40 {
    margin-top: 40px;
}

.logo-agua {
    max-width: 150px;
}

.vcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    display: flex;
    /*align-items: center;*/
}

.center_div {
    margin: 0 auto;
    width: 100%/* value of your choice which suits your alignment */
}

#signupcreate {
    width: 60%;
    margin: 0 auto;
    float: none;
}

.back {
    background: #e2e2e2;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}

.div-center {
    width: 400px;
    height: 400px;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 1em 2em;
    border-bottom: 2px solid #ccc;
    display: table;
}

div.content {
    display: table-cell;
    vertical-align: middle;
}

.text-center {
    text-align: center
}

.rounded {
    border-radius: 20px;
    border: double;
}

.letra {
    margin-top: 60px;
}

.heading-1 {
    position: relative;
    text-align: center
}

.heading-1:before {
    content: "";
    display: block;
    border-top: solid 8px #FF8700;
    width: 100%;
    height: 8px;
    position: absolute;
    top: 50%;
    z-index: 0;
}

.heading-1 span {
    background: #fff;
    padding: 0 10px;
    position: relative;
    z-index: 1;
}

.margin-form {
    margin-right: 50px;
    margin-left: 50px;
}

nav.header {
    min-height: 125px;
    background-color: #FF8700 !important;
    border-radius: 0 !important;
}

.puntero {
    cursor: pointer;
}

.input-xl {
    height: 80px;
    padding: 10px 16px;
    font-size: 40px;
    line-height: 1.333333;
    border-radius: 6px;
}

.shadow-volver {
    margin-right: 5px;
    padding: 10px 30px;
}

.letra-volver {
    color: black !important;
}

.full-width {
    width: 100%;
}

.btn-xl {
    font-size: 30px;
}

.ball-pulse-sync>div {
    background-color: #FF8700;
    height: 50px;
    width: 50px;
}

.esperar {
    height: calc(100vh - 300px);
}


/*TICKET*/

.ticket {
    width: 300px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
    margin-left: 563px;
}

.item {
    /*width: 100%;*/
    /*height: auto;*/
    text-align: left;
}

.bold {
    font-weight: 800;
    font-size: 14px;
}

.size_fecha {
    font-size: 10px;
}


/*END TICKET*/


.c-login {
    max-width: 310px;
    background-color: #eeeeee;
    margin: 0 auto 30px;
    padding: 10px 20px;
    border-top: solid 1px #ccc;
}

.c-form--login .c-form__field {
    width: 100%;
    padding: 0;
    margin: 0;
}

.c-form__field {
    display: inline-block;
    margin: 0 5px;
}

.c-form--login .c-form__label {
    font-size: 14px;
    font-weight: 400;
    color: #656c74;
}
.c-form__label {
    display: block;
    clear: both;
    color: #656c74;
    font-weight: 600;
    margin-bottom: 5px;
}

.c-form--login .c-form__field.c-form__field--half {
    width: 50%;
    display: block;
    float: left;
    margin: 5px 0 10px;
}

.c-form--login .c-form__field {
    width: 100%;
    padding: 0;
    margin: 0;
}
.c-form__field--half {
    width: 50%;
    display: inline-block;
}
.c-form__field {
    display: inline-block;
    margin: 0 5px;
}

.c-form--login .c-form__label.c-form__label--check {
    width: auto;
    clear: inherit;
    display: initial;
}
.c-form--login .c-form__label {
    font-size: 14px;
    font-weight: 400;
    color: #656c74;
}
.c-form__label {
    display: block;
    clear: both;
    color: #656c74;
    font-weight: 600;
    margin-bottom: 5px;
}

.c-form--login .c-form__field {
    width: 100%;
    padding: 0;
    margin: 0;
}
.c-form__field {
    display: inline-block;
    margin: 0 5px;
}

.c-form--login .c-form__input {
    width: 100%;
    max-width: inherit;
    padding: 10px 15px;
    border-radius: 6px;
    text-align: left;
    height: 36px;
    margin-bottom: 10px;
}


.u-text-center {
    text-align: center;
}

.o-legal {
    font-size: 12px;
    margin-bottom: 0;
}

.c-login .o-button {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0;
}

.c-actions .o-button {
    display: inline-block;
}
.o-button--primary {
    background-color: #f49600;
    color: #FFF;
}
.o-button {
    font-size: 14px;
    font-weight: 700;
    padding: 13px 45px 13px;
    line-height: 100%;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-right: 15px;
    margin-left: 15px;
    border: none;
}

.u-text-center {
    text-align: center;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/*COORDENADAS*/

.c-form__field {
    display: inline-block;
    margin: 0 5px;
}

.c-dinamic_code {
    text-align: center;
}

.o-title {
    width: 100%;
    display: block;
    margin: 20px auto;
    font-size: 19px;
    text-align: center;
    font-weight: 600;
}

.input {
    display: block;
    clear: both;
    border-radius: 4px;
    border: solid 1px #b4b4b4;
    height: 70px;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    font-size: 55px;
    font-weight: 700;
}

/*END COORDENADAS*/
