<div class="text-center letra">
    <h1 class="heading-1"><span>Ingrese sus coordenadas</span></h1>
</div>

<!--<h2>{{amount}}</h2>-->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="servi full-width vcenter">
                <div class="shadow-volver vcenter rounded" ng-click="back()">

                        <i class="fa fa-angle-left fa-7x"></i>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h1>${{amount}}</h1>
            <div class="c-dinamic_code">
                <h2 class="o-title">Ingrese Clave de Transferencia de su Tarjeta:</h2>

                    <div class="c-form__field">
                        <label class="c-form__label">{{coord_1}}</label>
                        <input type="password" class="input" ng-model="val_coord_1" id="val_coord_1" size="2" maxlength="2">
                    </div>
                    <div class="c-form__field">
                        <label class="c-form__label">{{coord_2}}</label>
                        <input type="password" class="input" ng-model="val_coord_2" id="val_coord_2" size="2" maxlength="2">
                    </div>
                    <div class="c-form__field">
                        <label class="c-form__label">{{coord_3}}</label>
                        <input class="input" type="password" ng-model="val_coord_3" id="val_coord_3" size="2" maxlength="2">
                    </div>

            </div>
            <button class="btn btn-danger btn-lg btn-xl btn-block top-40" ng-click="enviar()" ng-disabled="loading || !val_coord_1 || !val_coord_2 || !val_coord_3">
                <i class="fa fa-spin fa-spinner" ng-show="loading"></i> PAGAR
            </button>
        </div>
        <div class="col-md-3">

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
</div>



