<div class="text-center letra">
    <h1 class="heading-1"><span>Ingrese sus credenciales</span></h1>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="servi full-width vcenter">
                <div class="shadow-volver vcenter rounded" ng-click="back()">

                        <i class="fa fa-angle-left fa-7x"></i>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <input type="text" ng-model="rut" class="form-control input-xl top-40" id="rut" placeholder="12333444K">
            <input type="password" ng-model="pass" class="form-control input-xl top-40" id="pass" placeholder="****">
            <button class="btn btn-danger btn-lg btn-xl btn-block top-40" ng-click="enviar()" ng-disabled="loading || !rut || !pass">
                    <i class="fa fa-spin fa-spinner" ng-show="loading"></i> INGRESAR
            </button>
        </div>
        <div class="col-md-3">

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
</div>

<!--
<section class="c-login">
    <form id="Formulario" name="Formulario" action="cruce_B2B.asp?ir_a=/mod_pago/itrx_pers.asp" class="c-form c-form--login" target="_parent" method="post" onsubmit="return checkAllPersona();">
        <div class="c-form__field u-gutter_mobile-20">
            <label class="c-form__label u-hidden-mobile">RUT Usuario</label>
            <input type="text" placeholder="RUT" id="RUT" name="RUT" tabindex="2" class="c-form__input">
        </div>
        <div class="c-form__field u-gutter_mobile-20">
            <label class="c-form__label u-hidden-mobile">Contraseña</label>
            <input id="CLAVE" name="CLAVE" maxlength="10" tabindex="3" type="password" onkeyup="javascript:minuscula(this,event);" placeholder="Clave Internet" class="c-form__input">
        </div>
        <div class="c-actions u-text-center u-gutter_mobile-20">
            <button class="o-button o-button--primary">Ingresar</button>
        </div>
    </form>
    <small class="o-legal"></small>
</section>
-->
