<div class="text-center letra">
    <h1 class="heading-1"><span>Información de su estado de cuenta</span></h1>
</div>

<!--<h2>{{amount}}</h2>-->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="servi full-width vcenter">
                <div class="shadow-volver vcenter rounded" ng-click="back()">
                    <a href="#/ingresar">
                        <i class="fa fa-angle-left fa-7x"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h1>${{amount}}</h1>
            <button class="btn btn-danger btn-lg btn-xl btn-block top-40" ng-click="enviar()" ng-disabled="loading">
                <i class="fa fa-spin fa-spinner" ng-show="loading"></i> PAGAR
            </button>
        </div>
        <div class="col-md-3">

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
</div>



