<div class="text-center letra">
    <h1 class="heading-1"><span>Espere mientras procesamos la información</span></h1>
    <h2>Esto podría tardar un minuto</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="esperar vcenter">
                <div loader-css="ball-pulse-sync">
                </div>
            </div>
        </div>
    </div>
</div>