<!--<link rel="stylesheet" href="css/print.css">-->
<div class="text-center letra">
    <h1 class="heading-1"><span>Información de su estado de cuenta</span></h1>
</div>

<!--<h2>{{amount}}</h2>-->




<!--
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div id="imprimible" class="text-center">

                <div class="ticket">
                    <div>
                        <p><strong>BANCOESTADO</strong></p>
                        <p class="size_fecha">{{date}}</p>
                        <p>COMPROBANTE DE PAGO</p>
                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <div class="item">
                                <p>===============================</p>
                            </div>
                            <div class="item">
                                <p>Servicio: {{service}}</p>
                            </div>
                            <div class="item">
                                <p>Cuenta: {{account_number}}</p>
                                <p>===============================</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p class="bold text-center">MONTO</p>
                        <h2>${{amount}}</h2>
                        <p>===============================</p>
                    </div>
                </div>
            </div>


            <button class="btn btn-danger btn-lg btn-xl btn-block top-40" id="btnImprimir">
                <i class="fa fa-spin fa-spinner" ng-show="loading"></i> IMPRIMIR
            </button>
        </div>
    </div>
</div>
-->


<div id="imprimible" class="text-center">

    <div class="ticket">
        <div>
            <p><strong>BANCOESTADO</strong></p>
            <p class="size_fecha">{{date}}</p>
            <p>COMPROBANTE DE PAGO</p>
        </div>

        <!--row-->
        <div class="row">
            <!--col-->
            <div class="col-sm-8">
                <div class="item">
                    <p>===============================</p>
                </div>
                <div class="item">
                    <!--<p>Servicio: Aguas Andinas</p>-->
                    <p>Servicio: {{service}}</p>
                </div>
                <div class="item">
                    <p>Cuenta: {{account_number}}</p>
                    <p>===============================</p>
                </div>
            </div>
            <!--./col-->
        </div>
        <!--./row-->
        <div>
            <p class="bold text-center">MONTO</p>
            <h2>${{amount}}</h2>
            <!--<h2>$7500</h2>-->
            <p>===============================</p>
        </div>
    </div>
</div>
<button id="btnImprimir">Imprimir</button>
