<div class="text-center letra">
    <h1 class="heading-1"><span>Ingrese el número de cuenta</span></h1>
</div>



<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="servi full-width vcenter">
                <div class="shadow-volver vcenter rounded">
                    <a href="#/">
                        <i class="fa fa-angle-left fa-7x"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <input type="text" ng-model="cuenta" class="form-control input-xl top-40" id="nro_cuenta" placeholder="ej: 1233344-4">
            <button class="btn btn-danger btn-lg btn-xl btn-block top-40" ng-click="enviar()" ng-disabled="loading || !cuenta"> 
                    <i class="fa fa-spin fa-spinner" ng-show="loading"></i> Enviar
            </button>
        </div>
        <div class="col-md-3">

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
</div>
