<div class="text-center letra">
    <h1 class="heading-1"><span>Elije el servicio que deseas pagar</span></h1>
</div>
<div class="servi text-center vcenter">
    <div class="shadow-luz vcenter rounded">
        <a ng-click=ObtenerEstado(0)>
            <img class="puntero" src="https://www.eneldistribucion.cl/static/chilectra/img/system/logo_chile.png">
        </a>
    </div>
</div>
<div class="servi text-center vcenter">
    <div class="shadow-agua vcenter rounded">
        <a ng-click=ObtenerEstado(1)>
            <img class="puntero logo-agua" src="https://www.aguasandinas.cl/aguascontema-theme/images/logo-aguasandinas.png">
        </a>
    </div>
</div>
<div class="servi text-center vcenter">
    <div class="shadow-gas vcenter rounded">
        <a ng-click=ObtenerEstado(2)>
            <img class="puntero" src="images/metrogas-logo.png">
        </a>
    </div>
</div>
<div class="servi text-center vcenter">
    <div class="shadow-gas vcenter rounded">
        <a ng-click=ObtenerEstado(3)>
            <img class="puntero logo-registro" src="http://www.registrocivil.cl/media/images/logo-registro-civil-300-jpg.jpg?timestamp=20180610163906">
        </a>
    </div>
</div>
